<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <!-- in this below bean definition scope = "singleton" is not visible after class,
    this means same object will created again and again... -->
    
       <!-- in this below bean definition scope = "prototype" i make visible after class,
    this means different object will created again and again... -->
    <!-- <bean id="javaT" class="com.Kumar.classes.JavaTrainer" scope="prototype"> </bean> -->
    <bean id="javaT" class="com.Kumar.classes.JavaTrainer" > </bean>
    <bean id="sqlT" class="com.Kumar.classes.SQLTrainer"> </bean>
    <bean id="webT" class="com.Kumar.classes.WebTrainer"> </bean>

</beans>